<footer class="footer">
  <div class="container">
    <nav>
      <ul class="navbar navbar-nav">
        <li><%= link_to 'ホーム', root_path %></li>
        <li><%= link_to 'ヘルプ', help_path %></li>
        <li><%= link_to '詳細', about_path %></li>
        <li><%= link_to '写真アップロード', new_micropost_path %></li>
      </ul>
    </nav>
  </div>
</footer>
