<header class="navbar navbar-inverse">
  <div class="container">
    <nav>
      <a class="navbar-brand" href="/users">Instagram</a>
        <ul class="nav navbar-nav navbar-right">
          <% if logged_in? %>
            <li>
              <form>
                <input class="form-control" type="search" placeholder="Search" aria-label="Search">
              </form>
            </li>
            <li><a class="nav-link" href="">Profile</a></li>
            <li><a class="nav-link" href="">Setting</a></li>
            <li><a class="nav-link" href="/logout">Logout</a></li>
          <% else %>
            <li><a class="nav-link" href="/login">Login</a></li>
          <% end %>
        </ul>
    </nav>
  </div>
</header>
