<header class="navbar navbar-inverse">
  <div class="container">
    <nav>
      <a class="navbar-brand" href="/users">Instagram</a>
        <ul class="nav navbar-nav navbar-right">
          <% if logged_in? %>
            <li>
              <form>
                <input class="form-control" type="search" placeholder="Search" aria-label="Search">
              </form>
            </li>
            <li><%= link_to 'Profile', user_path(current_user) %></li>
            <li><%= link_to 'Setting', edit_user_path(current_user) %></li>
            <li><%= link_to 'Logout', logout_path, method: :delete %></li>
          <% else %>
            <li><%= link_to 'Login', login_path %></li>
          <% end %>
        </ul>
    </nav>
  </div>
</header>
